{% include 'main.html' %}

{% block content %}
<h1> English Phrases </h1>
<h2> Apologizing phrases -> Thankyou pharses</h2>

<p>
    I'm sorry , I am late 
    <br/>
    -> Thankyou for waiting for me 
</p>

<P>
 I'm sorry , for being so sensitive
 <br/>
 -> Thankyou for being accepting of me
</P>

<p>
    I'm sorry, I always mess up
    <br/>
    -> Thankyou for being patient when i make mistake
</p>

<p>
    I'm sorry for talking so much
    <br/>
    -> Thankyou for listening to me.
</p>


<h1>
    Projects 
</h1>

<!--<h1>Name : {{name}}</h1>
{% if age > 27 %}
<h4>{{name}} is older than {{age}}</h4>
{% endif %}

{% if age == 26 %}
<h4>{{name}} is {{age}}</h4>
{% endif %}-->


{% endblock content %}